@charset "UTF-8";

body {
  font-family: "Noto Serif JP", serif;
  background-color: #111;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  line-height: 1.8;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.vr {
  width: min(92%, 1166px);
  margin: 0 auto;
  padding-top: 30px;
}

.movie {
  width: 100%;
  height: 270px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .vr {
    padding: 90px 0px;
    margin: 0 auto;
  }
  .movie {
    height: 400px;
  }
}

.w-container {
  /* width:375px=345px out 15px */
  width: min(92%, 1166px);
  margin: auto;
}

/* header */
.header {
  height: 112px;
  background-image: url(../img/bgimg02.png);
  background-size: cover;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header .logo {
  width: 150px;
}

/* nav-button */
.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 20px;
  overflow: hidden;
}

/* nav-btn */
.navbtn {
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #aaa;
  font-size: 25px;
  position: absolute;
  top: 20px;
  overflow: hidden;
}

.open .navbtn {
  z-index: 110;
  color: #fff;
}

.navbtn .fa-bars {
  display: revert;
}
.open .navbtn .fa-bars {
  display: none;
}

.navbtn .fa-xmark {
  display: none;
}
.open .navbtn .fa-xmark {
  display: revert;
}

@media (min-width: 768px) {
  .navbtn {
    display: none;
  }
  .spin_img {
    display: none;
  }
}
/* ---------------- */

.spin_img {
  height: auto;
  animation: 5s linear infinite rotation;
  opacity: 0.8;
  overflow: hidden;
}

@keyframes rotation {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

/* nav mobile*/
@media (max-width: 767px) {
  .nav {
    position: fixed;
    inset: 0 -100% 0 100%;
    z-index: 100;
    background-color: #111;
    opacity: 0.8;
    transition: transform 0.5s;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px;
    color: #fff;
  }

  .drawer__nav.active {
    transform: translate(-100%, 0);
  }
}

/* nav pc */
@media (min-width: 768px) {
  .nav ul {
    display: flex;
    gap: 40px;
    color: #fff;
  }
}

/* hero */
.hero .zoom {
  width: 92%;
}
@media (min-width: 768px) {
  .hero .zoom {
    width: 100%;
  }
}
.splide__arrow {
  display: none;
}

.hero .zoom img {
  width: 100%;
  height: 436px;
  object-fit: cover;
}

.hero-container .zoom {
  box-shadow: 60px 30px 0px rgba(0, 0, 0, 0.5);
}

.subtitle {
  color: #c5c3cd;
  font-family: "Montserrat";
  font-size: clamp(0.875rem, 0.787rem + 0.3756vw, 1.125rem);
  font-weight: bold;
  line-height: 1.5;
  opacity: 0.8;
}

.hero {
  background-image: url(../img/bgimg01.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 60px;
}

.hero .text {
  margin: -65px 20px 74px;
  opacity: 0.8;
}
@media (min-width: 768px) {
  .hero-container .zoom {
    box-shadow: 200px 60px 0px rgba(0, 0, 0, 0.5);
  }
  .hero-container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1088px;
    margin: 0 auto 74px;
    padding-top: 40px;
  }
  .hero-container .text {
    margin: 110px 0 39px;
  }
  .hero p {
    margin-top: 43px;
  }
}

.hero h1 {
  font-family: "Noto Serif JP", serif;
  font-size: clamp(2rem, 1.6479rem + 1.5023vw, 3rem);
  font-weight: 900;
  line-height: 1.5;
  margin-top: 21px;
  color: #808000;
  text-shadow: 2px 2px 0px rgba(255, 255, 255, 1);
  /* background: linear-gradient(220.55deg, #ff0000 0%, #470000 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.text h1 + p {
  font-size: clamp(0.875rem, 0.787rem + 0.3756vw, 1.125rem);
  line-height: 1.8;
  font-weight: bold;
  color: #808000;
  /* background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text; */
}

/* about */
.about {
  padding: clamp(90px, 9vw, 120px) 0;
}

.about {
  padding-top: 30px;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: clamp(45px, 6vw, 80px);
}
@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
    align-items: center;
  }

  .about-container > .text {
    flex: 1;
    min-width: 17em;
  }

  .about-container > .img {
    flex: 2;
  }
}

.about {
  position: relative;
}

.about .heading-decoration {
  position: absolute;
  color: #fff;
  font-size: clamp(4.0625rem, 2.8521rem + 5.1643vw, 7.5rem);
  font-weight: bold;
  line-height: 1.5;
  /* margin-top: 60px; */
  writing-mode: vertical-rl;
  transform: rotate(360deg);
  z-index: 1;
  opacity: 0.8;
  top: -18px;
  left: 0;
}

.about-container .text-body {
  margin-left: 60px;
  z-index: 10;
}

@media (min-width: 768px) {
  .about .heading-decoration {
    top: 30px;
  }
  .about-container .text-body {
    margin-left: 80px;
  }
}

@media (min-width: 1024px) {
  .about .heading-decoration {
    top: 90px;
  }
}

.sub-title {
  font-size: clamp(0.875rem, 0.787rem + 0.3756vw, 1.125rem);
  line-height: 1.8;
  font-weight: 400;
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.text .inner-text {
  font-size: clamp(0.875rem, 0.787rem + 0.3756vw, 1.125rem) 0;
  color: #fff;
  margin-top: 2em;
}

/* service */
.service {
  padding: clamp(90px, 9vw, 120px) 0;
}

.service {
  padding-top: 0;
}

.service-container {
  display: flex;
  flex-direction: column;
  gap: clamp(45px, 6vw, 80px);
}
@media (min-width: 768px) {
  .service-container {
    flex-direction: row-reverse;
    align-items: center;
  }

  .service-container > .text {
    flex: 1;
    min-width: 17em;
  }

  .service-container > .img {
    flex: 2;
  }
}

.service {
  position: relative;
}

.service .heading-decoration {
  position: absolute;
  color: #fff;
  font-size: clamp(4.0625rem, 2.8521rem + 5.1643vw, 7.5rem);
  font-weight: bold;
  line-height: 1.5;
  /* margin-top: 60px; */
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  opacity: 0.8;
  top: -36px;
  right: 0;
}

.service-container .text-body {
  margin-right: 60px;
  z-index: 10;
}

@media (min-width: 768px) {
  .service .heading-decoration {
    top: 30px;
  }
}

@media (min-width: 1024px) {
  .service .heading-decoration {
    top: 90px;
  }
}

.service-imges {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 25px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

@media (min-width: 768px) {
  .service-imges {
    gap: 40px 25px;
  }
}

.service-imges > * {
  width: calc(50% - (25px * 1 / 2));
}
@media (min-width: 768px) {
  .service-imges > * {
    width: calc(33.33% - (25px * 2 / 3));
  }
}

/* msg */
.msg {
  padding: clamp(90px, 9vw, 120px) 0;
  background-image: url(../img/bgimg03.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.msg-container {
  text-align: center;
  background-color: rgba(17, 17, 17, 0.5);
  padding: 40px 0;
}

.msg .inner-text {
  padding: 0 20px 20px;
}

a.btn {
  cursor: pointer;
}

/* .btn {
  display: inline-block;
  margin-top: 40px;
  padding: 10px 40px;
  border-radius: 4px;
  font-size: clamp(0.875rem, 0.787rem + 0.3756vw, 1.125rem) 0;
  font-weight: bold;
  background: linear-gradient(220.55deg, #ff0000 0%, #470000 100%);
}
@media (min-width: 768px) {
  .btn {
    margin-top: 60px;
    padding: 10px 75px;
  }
} */

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-engine-start {
  position: relative;

  width: 145px;
  height: 145px;
  margin: 0 auto;

  border-radius: 50%;
  background: white;
  background: -webkit-linear-gradient(
    315deg,
    white 0%,
    white 22%,
    #ddd 44%,
    #a5a5a5 52%,
    black 100%
  );
  background: linear-gradient(
    135deg,
    white 0%,
    white 22%,
    #ddd 44%,
    #a5a5a5 52%,
    black 100%
  );
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
}

.btn-engine-start:before {
  position: absolute;
  top: 7.5px;
  left: 7.5px;

  display: block;

  width: 130px;
  height: 130px;

  content: "";

  border-radius: 50%;
  background: #515151;
  background: -webkit-linear-gradient(
    -45deg,
    #515151 0%,
    #515151 19%,
    #ededed 50%,
    white 77%,
    white 100%
  );
  background: -webkit-linear-gradient(
    315deg,
    #515151 0%,
    #515151 19%,
    #ededed 50%,
    white 77%,
    white 100%
  );
  background: linear-gradient(
    135deg,
    #515151 0%,
    #515151 19%,
    #ededed 50%,
    white 77%,
    white 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#515151', endColorstr='#ffffff', GradientType=1);
}

.btn-engine-start:hover a.btn-engine-start-in:before {
  top: 20px;

  background: #61c419;
  -webkit-box-shadow: 0 0 6px rgba(97, 196, 25, 0.3);
  box-shadow: 0 0 6px rgba(97, 196, 25, 0.3);
}

.btn-engine-start:hover a.btn-engine-start-in {
  padding: 37px 0 0;

  color: #b4e391;
  -webkit-box-shadow: inset 0 1px 1px black, 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 1px black, 0 1px 2px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 6px rgba(97, 196, 25, 0.3), 0 0 6px rgba(97, 196, 25, 0.3);
}

a.btn-engine-start-in {
  font-size: 14px;
  line-height: 1.2;

  position: absolute;
  top: 18px;
  left: 18px;

  width: 109px;
  height: 109px;
  padding: 35px 0 0;

  color: #fff;
  border-radius: 50%;
  background: #959595;
  background: -webkit-linear-gradient(
    -45deg,
    #959595 0%,
    #0d0d0d 46%,
    #010101 50%,
    #0a0a0a 69%,
    #1b1b1b 100%
  );
  background: -webkit-linear-gradient(
    315deg,
    #959595 0%,
    #0d0d0d 46%,
    #010101 50%,
    #0a0a0a 69%,
    #1b1b1b 100%
  );
  background: linear-gradient(
    135deg,
    #959595 0%,
    #0d0d0d 46%,
    #010101 50%,
    #0a0a0a 69%,
    #1b1b1b 100%
  );
  -webkit-box-shadow: inset 0 2px 2px white, 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 2px white, 0 2px 4px rgba(0, 0, 0, 0.5);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#959595', endColorstr='#1b1b1b', GradientType=1);
}

a.btn-engine-start-in:before {
  position: absolute;
  top: 18px;
  left: calc(50% - 13px);

  width: 26px;
  height: 8px;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border-radius: 10px;
  background: green;
  background: #555;
}

a.btn-engine-start-in span {
  font-size: 16px;
  padding: 20px;
}
/* footer */
.footer {
  padding: 70px 0;
  color: #fff;
  font-size: 13px;
}

.footer-container {
  display: grid;
  gap: 50px;
  justify-items: center;
}
@media (min-width: 768px) {
  .footer-container {
    grid-template-columns: auto auto;
    gap: 20px;
  }
}

.footer-sns {
  display: flex;
  gap: 24px;
  font-size: 24px;
  color: #111;
}

.footer-sns a {
  display: grid;
  place-items: center;
  width: 36px;
  aspect-ratio: 1/1;
  background-color: #fff;
  clip-path: circle(50%);
}
@media (min-width: 768px) {
  .footer-sns a {
    height: 36px;
  }
}

.footer-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
